html {
	height: 100%;
}

body {
  margin: 0;
  padding: 0;
	height: 100%;
	font-family: Verdana;
  font-weight: lighter;
	color: white;
	background-color: $background-gray;
}

#root {
	height: 100%;
}
