.users-view {
	margin: 20px 20px 0 auto;
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-start;
}


.users-view--active-user {
	padding: 12px 15px;
	border: 1px solid white;
	border-radius: 30px;
	width: 12px;
	text-align: center;
}
.users-view--active-user:hover {
	background-color: white;
	cursor: pointer;
	color: $background-gray;
}

.users-view--users-list-wrapper {
	margin-right: 15px;
	background-color: white;
	color: $background-gray;
	border-radius: 5px;
	border-color: $light-gray;
	padding: 10px;
}

.users-view--users-list {
	margin-bottom: 20px;
}

.users-view--other-user {
	text-align: center;
	border-bottom: 1px solid $light-gray;
	padding: 7px 0;
}

.users-view--other-user:hover {
	background-color: $light-gray;
	color: white;
	cursor: pointer
}

.users-view .input-action-wrapper {
	border-color: $light-gray;
}

.users-view .input-action-control {
	border-right-color: $light-gray;
	color: $background-gray;
}

.users-view .input-action-button:hover {
	background-color: $light-gray;
	color: white;
}
