.input-action-wrapper {
	border-radius: 5px;
	border: 1px solid;
	width:230px;
}

.input-action-wrapper.with-icon {
	width:225px;
}

.input-action-wrapper > span {
	display: flex;
}

.input-action-control {
	border: none;
	background-color: transparent;
	padding: 6px 12px;
	color: inherit;
	font-family: inherit;
	&:focus {
		outline: none;
	}
}

.input-action-button {
	padding: 6px 6px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	font-size: 14px;
	vertical-align: middle;
	font-weight: 400;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
