.playlists-view {
	margin: 20px;
	width: 230px;
}

.playlists-view--title {
	margin-right: 10px;
	display: inline;
}

.playlist-view {
	margin-top: 20px;
}

.playlist-view--playlist-name {
	cursor: pointer;
	margin-right: 20px;
}

.playlist-view--playlist-edit {
	margin-right: 10px;
	border: none;
	padding: 4px;
	border-radius: 5px;
}
