.song-search-view {
	height: 300px;
	overflow: hidden;
	border: 1px solid white;
	border-radius: 5px;
	padding-left: 20px;
	flex: 1;
}

.song-search-view--search-resutls {
	height: 180px;
	overflow: auto;
}
