.users-view {
	margin: 20px 20px 0 auto;
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-start;
}

.users-view--active-user {
	padding: 12px 15px;
	border: 1px solid;
	border-radius: 30px;
	width: 15px;
	text-align: center;
}
.users-view--active-user:hover {
	background-color: $light-gray;
	color: white;
	cursor: pointer;
}

.users-view--users-list-wrapper {
	margin-right: 15px;
	border-radius: 5px;
	border: 1px solid;
	padding: 10px;
	padding-top: 0;
	-webkit-box-shadow: 0px 2px 9.2px 0.8px rgba(24, 24, 25, 0.25);
	-moz-box-shadow: 0px 2px 9.2px 0.8px rgba(24, 24, 25, 0.25);
	box-shadow: 0px 2px 9.2px 0.8px rgba(24, 24, 25, 0.25);

}

.users-view--users-list {
	margin-bottom: 20px;
}

.users-view--other-user {
	text-align: center;
	border-bottom: 1px solid $light-gray;
	padding: 7px 0;
	&:last-child {
		border-bottom: none;
	}
}

.users-view--other-user:hover {
	background-color: $light-gray;
	color: white;
	cursor: pointer
}

.users-view .input-action-button {
	height: 20px;
}


.users-view--active-user-text {
	text-align: center;
	font-weight: bold;
}

.users-view--logged-in-as, .users-view--add-user-text, .users-view--switch-user-text {
	border-bottom: 1px solid;
	padding-bottom: 4px;
}
