html {
	height: 100%;
}

body {
  margin: 0;
  padding: 0;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
	color: white;
	background-color: $background-gray;
}

#root {
	height: 100%;
}

.fa {
	transition: color 0.2s ease-in;
	cursor: pointer;
}

.fa-play {
	&:hover {
		color: $green;
	}
}

.fa-pause {
	&:hover {
		color: $red;
	}
}

.fa-plus, .fa-search, .fa-forward, .fa-backward {
	&:hover {
		color: $blue;
	}
}

.fa-close {
	&:hover {
		color: $black;
	}
}

.app-view {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.app-view--top {
	display: flex;
}

.app-view--bottom {
	margin: 20px;
	margin-top: auto;
	display: flex;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $light-gray;
  border: 1px solid $background-gray;
}
