html {
	height: 100%;
}

body {
  margin: 0;
  padding: 0;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
	color: white;
	background-color: $background-gray;
}

#root {
	height: 100%;
}

.fa {
	cursor: pointer;
}

.app-view {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.app-view--top {
	display: flex;
}

.app-view--bottom {
	margin: 20px;
	margin-top: auto;
	display: flex;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $light-gray;
  border-right: 2px solid $background-gray;
}
