.input-action-wrapper {
	border-radius: 5px;
	border: 1px solid white;
	width:260px;
}

.input-action-wrapper > span {
	display: flex;
}

.input-action-control {
	border: none;
	background-color: transparent;
	color: white;
	border-right: 1px solid white;
	padding: 6px 12px;
}

.input-action-button {
	padding: 6px 6px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	font-size: 14px;
	vertical-align: middle;
	font-weight: 400;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.input-action-button:hover {
	background-color: white;
	cursor: pointer;

	color: rgb(82, 82, 82);
}
